<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="carSpeed" class=" com.jspiders.Spring.VehicleSpeed.Car"
		autowire="byName" scope="singleton">
	</bean>

	<bean id="bikeSpeed" class=" com.jspiders.Spring.VehicleSpeed.Bike"
		autowire="byName">
	</bean>

	<bean id="speed1" class=" com.jspiders.Spring.VehicleSpeed.Speed" scope="prototype">
		<property name="speed" value="145"></property>

	</bean>
	
		<bean id="speed2" class=" com.jspiders.Spring.VehicleSpeed.Speed">
		<property name="speed" value="160"></property>

	</bean>

</beans>
